html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,section,summary,time,mark,audio,video
{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
body{-webkit-text-size-adjust:none}

$button_blue: rgb(45, 139, 215);

ul{
	list-style-type: disc;
	padding-left: 40px;
}

ul li{
	line-height:1.5;
}

ul li ul{
	list-style-type: circle;
	padding-left: 30px;
}

input[type="text"], input[type="email"], input[type="password"]{
	border:2px solid rgb(224,224,224);
	color:rgb(77,77,77);
	padding:5px;
	font-size:16px;
}

input[type="button"], button{
	border:2px solid $button_blue;
	border-radius: 3px;
	background-color: transparent;
	color: $button_blue;
	font-size:14px;
	padding:5px 10px;
	cursor:pointer;
}

input[type="button"]:hover, button:hover{
	background-color: $button_blue;
	color:#fff;
}

strong, b, .bold {
	font-weight: bold;
}

em, i, .italic {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
}

.alignl{text-align:left;}
.alignr{text-align:right;}
.alignc{text-align:center;}

/* Include padding in width */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, #main{height:100%;}

body {
	color: #000;
	background: #fff;
	font-family: Arial;
	font-size: 14pt;
	font-weight: 400;
	line-height: 1.75em;
	position:relative;
}

input, select, textarea{font-family: Helvetica, sans-serif;}

a, .link {color: #00f;text-decoration: none;cursor:pointer;}

.super{font-size:12px;vertical-align:super;}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden{display:none;}


#main #content {
	padding: 1em 4em 1em 4em;
	min-height: 100%;
	max-width:960px;
}

#header, #menu #links{
	background-color:#fff;
	background: #f6f6f6 url("/img/shards.svg") top left repeat;
	// background-image: url("/img/triangle.jpg");
	/*background-image: url("/img/shards.svg");*/
	// background-repeat: repeat;
}

#header {
	color: #000;
	height: 100%;
	float:left;
	overflow:auto;
	padding: 8em 3em 0 3em;
	width: 35%;
	font-size: 15pt;
	box-shadow:0 1px 8px #555;

	#profile{
		width: 100%;
	}

	#left{
		a{
			cursor: default;
		}
	}

	#right{
		text-align: center;
	}

	#menu2{
		margin-top: -20px;
	}
}

a .fa, #menu .fa, .link .fa{
	margin-right: 10px;
}

	#menu-toggle{
		display:none;
		cursor: default;

		.fa.fa-circle{
			color: $button_blue;
		}

		.fa.fa-bars{
			color: #fff;
		}
	}



	#menu{
		background-color:rgba(255,255,255,.4);
		position:fixed;
		z-index:10;
		top:0px;
		height:100%;
		width:100%;
		display:none;
	}

	#menu #links{
		height:100%;
		width:50%;
		min-width:265px;
		padding-top: 1em;
		text-align: center;
	}

		#menu #links #links-centered{
			display:inline-block;
			text-align: left;
		}

.wrap-centered{
	display: inline-block;
	text-align: center;
}

.fa{color:#000;}

/* large devices */
@media(min-width: 961px) {
	#header {
		padding: 4em 2em 3em 2em;
		width: 30%;
		max-width: 305px;
	}

	#main {
		max-width: none;
		overflow:auto;

		#content{
			padding: 1em 3em 3em 3em;
		}
	}
}


/* medium devices */
@media(max-width: 960px) {
	#header {
		padding: 1em 4em;
		width: 100%;
		height:auto;
		overflow:auto;
		font-size: 12pt;
		margin-bottom:15px;
		float: none;

		#profile{
			max-width:160px;
			max-height:122px;
			width:auto;
		}

		#left{
			float:left;
			width:50%;
			text-align:center;
		}

		#right{
			float:left;
			width:50%;
		}
	}

	#menu2{
		display:none;
	}

	#menu-toggle{
		display:inline-block;
		margin-top:15px;
	}

	#main {
		margin: 0;
		width: 100%;
	}

		#main #content{
			padding: 0 3em 1em 3em;
		}
}

/* small devices */
@media(max-width: 480px) {
	#header {
		padding: 1em 1.5em;
		height:auto;

		#right{
			text-align:center;
		}
	}

	#menu2{
		display: none;
	}

	#menu-toggle{
		display:inline-block;
		margin-top:15px;
	}

	#main #content{
		padding:0 1em;
	}
}
