{
  "presets": [
    "env", "react"
  ],
  "plugins": [
    ["react-css-modules", {
      "generateScopedName": "[local]_[hash:base64:5]",
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      }
    }]
  ]
}
