{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "react-css-modules",
      {
        "generateScopedName": "[local]_[hash:base64:5]"
      }
    ]
  ]
}
