<IfModule mod_headers.c>
 Header set Strict-Transport-Security "max-age=0;"
</IfModule>

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.jonpicchietti.com/$1 [R,L]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https://(www\.)?jonpicchietti.com/.*$ [NC]
RewriteRule \.(gif|jpg|png|css)$ - [F]

<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/css application/javascript text/javascript image/svg+xml application/json
</ifmodule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 7 day"
ExpiresByType image/jpeg "access 7 day"
ExpiresByType image/gif "access 7 day"
ExpiresByType image/png "access 7 day"
ExpiresByType image/svg+xml "access 7 day"
ExpiresByType image/x-icon "access 3 month"
</IfModule>

Options -indexes
ErrorDocument 404 /404/
