#global{
  font-size:16pt;
  width:90%;
  margin-bottom: 15px;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  border: 0;
  outline:1px dashed #ccc;
  font-family:inherit;
  font-size:inherit;
  resize:none;
  padding:inherit;
  line-height:inherit;
}

#tasks{
  width:100%;
  cursor: default;
  font-size: 1em;
  line-height:1em;

  .check, .about{
    padding: 10px 0;
  }

  .item{
    position: relative;
    overflow: hidden;
  }
  .check{
    display: block;
    background-color: #ddd;
    padding-left: 10px;
  }
  .deleting{
    color: #0f0;
  }
  .about{
    background-color: #fff;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding-left:5px;
  }
}
