.skills {
  padding-left: 25px;
  margin-bottom: 10px;

  .skill {
    background-color: #eee;
    padding: 6px 9px;
    margin: 2px;
    border-radius: 4px;
    font-size: 13px;
    display: inline-block;
  }
}
