.url-upload {
  text-align: center;
  width: 100%;
  font-size: 16pt;
  padding: 3px;
}

.dropbox {
  border: 4px dashed lightblue;
  border-radius: 8px;
  padding: 50px;
  color: lightblue;
  text-align: center;
  cursor: pointer;

  * {
    pointer-events: none;
  }

  .svg-inline--fa {
    color: lightblue;
  }

  .upload-inputs {
    position: absolute;
    width: 0;
    height: 0;
    left: -2000px;
    top: -2000px;
  }
}

.dropbox.dragging {
  border: 4px solid blue;
  color: blue;

  .svg-inline--fa {
    color: blue;
  }
}

.space {
  margin: 20px 0;
}
