.timeline {
  border-left: 2px solid gray;
  margin-bottom: 10px;
  margin-left: 50px;
  padding: 10px 0;
  min-height: 70px;
}

  .point {
    margin-bottom: 10px;
    padding-left: 35px;
    position: relative;
  }

    .when {
      position: absolute;
      top: 50%;
      margin-top: -0.5em;
      left: -0.5em;
      cursor: default;
    }

      .when :global(.fa-circle).background {
        color: #fff;
        font-size: 1em;
      }

      .when :global(.fa-circle).foreground,
      .when :global(.fa-star).foreground {
        color: #ddd;
        font-size: 0.7em;
      }

      .year {
        color: #000;
        background-color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 12px;
        position: absolute;
        right: 100%;
        padding-right: 4px;
        top: 50%;
        margin-top: -8px;
        white-space: nowrap;
      }

    .what {
      position: relative;
      background-color: #eee;
      padding: 10px;
    }

      .what :global(.fa-caret-left) {
        position: absolute;
        top: 50%;
        right: 100%;
        color: #eee;
        font-size: 30px;
        margin-top: -15px;
        margin-right: -1px;
      }

  .point:last-child {
    margin-bottom: 0;
  }

/* small devices */
@media (max-width: 480px) {
  .timeline {
    margin-left: 16px;
  }

    .year {
      top: 100%;
      padding-top: 2px;
      padding-right: 0;
      margin-left: -16px;
      margin-top: -1px;
      left: 50%;
      right: auto;
    }
}
