$button_blue: rgb(45, 139, 215);

.resume {
  line-height: 1.3;
  position: relative;

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  .header {
    display: flex;
    align-items: center;

    div {
      margin: 0 6px;
    }

    .profile {
      .picture {
        max-width: 100px;
      }
    }

    .name {
      font-weight: bold;
      font-size: 30pt;
      width: 100%;
      text-align: center;

      .pronunciation {
        font-size: 10pt;
        text-align: right;
      }
    }

    .qr {
      min-height: 80px;
    }
  }

  .contact-badge {
    .contact-info {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      div {
        margin: 6px;
      }
    }
  }

  .education {
    display: flex;
    justify-content: space-around;

    div {
      margin: 0 6px;
    }
  }

  .section {
    margin-top: 20px;

    .title {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 12px;
    }

    :global(.subtitle) {
      text-transform: uppercase;
      font-size: 12px;
      margin: 6px 0;
    }
  }

  :global(.featured) {
    color: #ffd600 !important;
  }

  .spacing-top {
    margin-top: 15px;
  }

  .impacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -5px;

    .impact {
      width: 175px;
      margin-left: 5px;
      margin-right: 5px;

      :global(.svg-inline--fa.fa-info-circle) {
        cursor: help;
      }
    }
  }
}

@media print {
  body {
    background: #fff;
    height: auto;
  }

  a {
    color: #000;
  }

  .resume {
    padding: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .resume {
    ul,
    :global(.indent) {
      padding-left: 0;
    }
  }
}
