.page {
  height: 100%;

  main {
    padding: 1em 4em 1em 4em;
    min-height: 100%;
    max-width: 960px;
  }
}

// large devices
@media (min-width: 961px) {
  .page {
    max-width: none;
    overflow: auto;

    main {
      padding: 1em 3em 3em 3em;
    }
  }
}

// medium devices
@media (max-width: 960px) {
  .page {
    margin: 0;
    width: 100%;

    main {
      padding: 0 3em 1em 3em;
    }
  }
}

// small devices
@media (max-width: 480px) {
  .page main {
    padding: 0 1em;
  }
}
