/* stylelint-disable */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,section,summary,time,mark,audio,video,main{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* stylelint-enable */

/* Include padding in width */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus { outline: none; }
::-moz-focus-inner { border: 0; }
body { -webkit-text-size-adjust: none; }

img {
  color: red;
  font-style: italic;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

  ul li {
    line-height: 1.5;
  }

input[type="text"],
input[type="email"],
input[type="password"] {
  color: rgb(77, 77, 77);
  font-size: 16px;
  padding: 10px;
  border: 1px solid #eee;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-bottom: solid 2px #969696;
  }

input[type="button"],
button {
  border: 2px solid rgb(36, 121, 193);
  border-radius: 4px;
  background-color: #fff;
  color: rgb(36, 121, 193);
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

  input[type="button"]:hover,
  button:hover,
  input[type="button"]:focus,
  button:focus {
    background-color: rgb(36, 121, 193);
    color: #fff;
  }

  input[type="button"]:disabled,
  button:disabled {
    cursor: not-allowed;
    background-color: #777;
    border-color: #777;
    color: #fff;
  }

input,
select,
textarea {
  font-family: Helvetica, sans-serif;
}

body {
  color: #000;
  background: #fff;
  font-family: 'Ubuntu', Arial, sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75em;
  position: relative;
  height: 100vh;
}

strong,
b,
:global(.bold) {
  font-weight: bold;
}

em,
i,
:global(.italic) {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

:global(.alignl) { text-align: left; }
:global(.alignr) { text-align: right; }
:global(.alignc) { text-align: center; }
:global(.clearb) { clear: both; }

a,
:global(.link) {
  color: #00f;
  text-decoration: none;
  cursor: pointer;
}

:global(.super) {
  font-size: 12px;
  vertical-align: super;
}

:global(.no-select) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:global(.hidden) { display: none; }

ul,
:global(.indent) {
  padding-left: 24px;
}

a :global(.svg-inline--fa),
:global(.link .svg-inline--fa) {
  margin-right: 8px;
}

:global(.wrap-centered) {
  display: inline-block;
  text-align: center;
}

:global(.svg-inline--fa) { color: #000; }

:global(.on-print,
.on-print-block,
.on-print-inline) {
  display: none !important;
}

@media print {
  :global(.no-print) {
    display: none !important;
  }

  :global(.on-print,
  .on-print-block) {
    display: block !important;
  }

  :global(.on-print-inline) {
    display: inline !important;
  }
}
