.growth-overview {
  margin-top: 20px;
  display: inline-block;
  overflow: auto;
  position: relative;
  border-radius: 3px;
  width: 100%;
}

  .title {
    font-size: 0.95em;
    text-align: center;
  }

  .details {
    font-size: 0.8em;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: var(--darkest);
    shape-rendering: crispEdges;
  }

  .line {
    fill: none;
    stroke: var(--primary3);
    stroke-width: 2.5px;
  }

  .text {
    fill: var(--darkest);
  }

  .area {
    fill: var(--primary0);
    stroke-width: 0;
  }

  .focus {
    fill: none;
    pointer-events: all;
  }

  .circle.fill {
    fill: var(--primary6);
  }

  .circle {
    fill: none;
  }
