.growth-overview {
  margin-top: 20px;
  display: inline-block;
  overflow: auto;
  position: relative;
  border-radius: 3px;
  width: 100%;
}

  .title {
    font-size: 0.95em;
    text-align: center;
  }

  .details {
    font-size: 0.8em;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .line {
    fill: none;
    stroke: #64b5f6;
    stroke-width: 2.5px;
  }

  .area {
    fill: #e1f5fe;
    stroke-width: 0;
  }

  .focus {
    fill: none;
    pointer-events: all;
  }

  .focus:hover + .circle,
  .circle:hover {
    fill: #1e88e5;
  }

  .circle {
    fill: none;
  }
